.Post {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 10px;
    justify-content: center;
    align-items: center;
    transition: ease 1s;
}

@media (max-width: 1000px) {
    .Post{
        max-width: 100%;
        width: 100%;
    }
}

.Post:hover {
    background: gray;
    opacity: 0.8;
    transition: ease 1s;
    cursor: pointer;
}

.Post > img {
    object-fit: contain;
    width: 100%;
}

.Header {
    background-color: #313131;
    height: 10%;
    width: 100%;
    box-sizing: border-box;
}

.Comments {
    height: 10%;
    width: 100%;
    background: #aacd4e;
    box-sizing: border-box;
}

.Active {
color: green;
}

.Inactive {
    color:red;
}
