.Post {
    margin: 2px;
    transition: ease 1s;
    border-radius: 3px;
}

.Small {
    max-width: 400px;
}

.PostImage {
    transition: ease 1s;
}

.PostImage > img {
    object-fit: contain;
    width: 100%;
}

@media (max-width: 1000px) {
    .Post {
        max-width: 100%;
        width: 100%;
        font-size: 1.7em;
        word-spacing: 10px
    }
}

.Title {
    margin-bottom: 50px;
    background: #313131;
    height: 10%;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    color: #F7842B;
    font-weight: bold;
    text-align: center;
}

.Comments {
    height: 10%;
    width: 100%;
    background: #aacd4e;
    box-sizing: border-box;
}
