.Post {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 2px;
    justify-content: center;
    align-items: center;
    transition: ease 1s;
    background: #474A51;
}

@media (max-width: 1000px) {
    .Post {
        max-width: 100%;
        width: 100%;
    }
}

.PostImage {
    display: flex;
    flex-direction: column;
    transition: ease 1s;
    background: #474A51;
}

@media (max-width: 1000px) {
    .PostImage {
        max-width: 100%;
        width: 100%;
    }
}

.Post:hover {
    background: gray;
    opacity: 0.8;
    transition: ease 1s;
    cursor: pointer;
}
.PostImage > img{
    object-fit: contain;
    width: 100%;
}

.Header {
    background: #313131;
    height: 10%;
    width: 100%;
    box-sizing: border-box;
}

.Comments {
    height: 10%;
    width: 100%;
    background: #aacd4e;
    box-sizing: border-box;
}

.Active {
    color: green;
}

.Inactive {
    color: red;
}
