.CommentForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Errors {
    width: 100%;
}

.PostButton {
    margin-left: auto;
}

@media (max-width: 1000px) {
    .Errors {
        font-size: 30px;
    }
}