.DrawerToggle {
    /*width: 100px;*/
}

.DrawerToggle span {
    font-size: 80px;
}

@media (min-width: 1000px) {
    .DrawerToggle {
        display: none;
    }

    .Active {
        display: none;
    }
}

.Active {
    transition: ease 1s;
}