.Toolbar {
    background: #1E174C;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0 10px 0px;
}

.NavBar {
    box-sizing: border-box;
}

@media (max-width: 1000px) {
    .Toolbar {
        height: 70px;
    }

    .NavBar {
        display: none;
    }
}