.Toolbar {
    background: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0 10px 0;
    box-shadow: 0 6px 10px 0 rgba(27, 28, 30, .31);
}

@media (max-width: 1000px) {
    .Toolbar {
        height: 10vh;
    }
}