.Button {
    text-align: center;
    height: 35px;
    padding: 7px 14px 10px 9px;
    text-transform: none;
    cursor: pointer;
    font-size: 15px;
    font-weight: 700;
    border-radius: 3px;
    width: auto;
    background-color: #AA3333;
    box-shadow: 0 6px 10px 0 rgba(27, 28, 30, .31);
    color: #fff;
    white-space: nowrap;
    margin: 0 5px 0 0;
    border: none;
    transition: background-color 2s;
}

.Button:hover {
    background-color: transparent;
    transition: background-color 2s;
}

.NoBackground {
    background: transparent;
    transition: color 2s;
}

.NoBackground:hover {
    color: #5eb5e0;
    transition: color 2s;
}

