body {
    background: rgb(255,255,255);
    background: linear-gradient(122deg, rgba(255,255,255,1) 0%, rgba(215,212,212,1) 85%) no-repeat;
    color: white;
}

.Content {
    /*margin: 0 100px 0 100px;*/
}

/*@media (max-width: 1000px) {*/
/*    .Content {*/
/*        width: 100%;*/
/*        margin: 0;*/
/*    }*/
/*}*/
