.Link {
    color: white;
    cursor: pointer;
    text-decoration: none;
    max-width: 10%;
    font-size: xx-large;
}

.Link:hover {
    color: #dfdfdf;
    cursor: pointer;
    text-decoration: none;
    transition: ease 1s;
}