.CommentContent {
    background: #2E3035;
    width: 100%;
    margin: 2px 0 2px 0;
}

.CommentWidget {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    margin-bottom: 16px;
    background: #2d2e2d;
    padding: 10px;
    transition: ease 1s;
}

.CommentWidget:hover {
    transition: ease 1s;
    background: #191919;
}

.AvatarWidget {
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
}

.AvatarMeta {
    margin-left: 5px;
    color: #b4b9c2;
}

.CommentText {
    font-size: large;
}

@media (max-width: 1000px) {
    .CommentWidget{
        font-size: 50px;
   }
    .AvatarMeta {
        font-size: 20px;
    }
}
