.Avatar {
    display: block;
    background-color: grey;
    border-radius: 100%;
    height: 100px;
    width: 100px;
    background-size: cover;
}

.SmallAvatar {
    display: block;
    background-color: grey;
    border-radius: 100%;
    height: 24px;
    width: 24px;
    background-size: cover;
}

/*.Avatar > img {*/
/*    width: 100%;*/
/*    object-fit: contain;*/
/*}*/

.AvatarWidget {
    display: flex;
}

.Metadata {
    margin: 10px;
}