.Avatar {
    display: block;
    background-color: grey;
    border-radius: 100%;
    height: 100px;
    width: 100px;
    background-size: cover;
}

.SmallAvatar {
    display: block;
    background-color: grey;
    border-radius: 100%;
    height: 24px;
    width: 24px;
    background-size: cover;
}

@media (max-width: 1000px) {
    .SmallAvatar {
        height: 40px;
        width: 40px;
    }
}

.AvatarWidget {
    display: flex;
}

.Metadata {
    margin: 10px;
}