<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('Authentication') }}
    {% endblock %}
</head>
<body>
{% block body %}
    <div id="index"></div>
{% endblock %}
</body>
{% block javascripts %}
    {{ encore_entry_script_tags('authentication') }}
{% endblock %}
</html>