{% extends 'base.html.twig' %}
{% block title %}Index{% endblock %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block body %}
    <div id="index">dsadsadsa</div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('post_page') }}
{% endblock %}
