.Posts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

@media (max-width: 1000px) {
    .Posts {
        display: block;
        width: 100%;
    }
}