.Post {
    display: flex;
    flex-direction: column;
    margin: 10px;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}

.Post > img {
    object-fit: contain;
    width: 100%;
}

.Header {
    background-color: #313131;
    height: 10%;
    width: 100%;
    box-sizing: border-box;
}

.Comments {
    height: 10%;
    width: 100%;
    background: #aacd4e;
    box-sizing: border-box;
}

.Active {
    background: green;
}

.Inactive {
    background: red;
}
